body {
  background: #c7b39b url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSHblNUIn4LSBzBQpm0fPTUXjCzzUtzGzc1Z02ortDEe9cJlty1&usqp=CAU.jpg); color: #12fc0a;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
 
 
  min-height: 80vh;
}

header {
  text-align: center;
}

main {
  background-color:#333a;
  border-radius: 10px;
  padding: 15px;
}

.content-center {
  width: 70%;
   margin: auto;
}

.title-text, .title-img {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}

.primary-header {
  text-align: center;
}

.store-list {
  padding-left:650px;
 }

.store-section {
  display: flex;
  display: -webkit-flex;
  margin: 40px auto;
  width: 450px;
}

.building {
  width: 125px;
}

.town-preview {
  width:400px;
}

.store-details {
  margin-left: 30px;
}

.category-heading {
  color: #205D76;
  font-size: 30px;
}

img {
  height: 200px;
  border-radius: 5px;
  margin: 10px;
  transition-duration: 1s;
}

img:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(249,255,172,0);
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(249,255,172,0);
}

a {
  width: 5px;
  text-align: center;
  padding: 2px;
  border-radius: 10%;
  color: red;
}

a:hover {
  padding: 2px;
  background-color: #12fc0a;
  color: black;

}

.transition {
  transition: padding 0.3s ease-out, background-color 1.2s ease;
}
